<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand">ShoeZaar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <% if(locals.user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/"><%= link1 %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/users/profile"><%= link2 %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/end-session"><%= link3 %></a>
                    </li>
                <% }else{ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/"><%= link1 %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/users/sign-in"><%= link2 %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/sign-up"><%= link3 %></a>
                    </li>
                <% } %>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>